<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="sidebar">

    <h2>Employee Attrition</h2>

    <a href="/home">🏠 Home</a>
    <a href="/dashboard">📊 Dashboard</a>
    <a href="/dataset">📁 Dataset</a>
    <a href="/about">ℹ️ About Project</a>
    <a href="/predict_page">🤖 Prediction</a>
    <a href="/">🚪 Logout</a>

</div>

<div class="main-content">

<div class="container about-box">

<h1>Project Dashboard</h1>

<p class="about-text">
Employee Attrition Prediction Dashboard Overview
</p>

<div class="about-cards">

<div class="about-card">
<h3>👥 Total Employees</h3>
<p>1470</p>
</div>

<div class="about-card">
<h3>🎯 Model Accuracy</h3>
<p>87.4%</p>
</div>

<div class="about-card">
<h3>📊 Features Used</h3>
<p>10 Features</p>
</div>

<div class="about-card">
<h3>🤖 Algorithm</h3>
<p>Logistic Regression</p>
</div>

<div class="about-card">
<h3>✔ Stay Employees</h3>
<p>1233</p>
</div>

<div class="about-card">
<h3>⚠ Leave Employees</h3>
<p>237</p>
</div>

</div>

<br>

<h2>Project Summary</h2>

<p class="about-text">
This dashboard provides a quick overview of the Employee Attrition Prediction
System including dataset information, model accuracy and employee statistics.
</p>

</div>

</div>

</body>
</html>