<!DOCTYPE html>
<html>
<head>
    <title>Employee Attrition Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Employee Attrition Prediction</h1>

<form action="/predict" method="POST">

    <input type="number" name="Age" placeholder="Age" required>

    <input type="number" name="DailyRate" placeholder="Daily Rate" required>


    <select name="DistanceFromHome" required>
        <option value="">Distance From Home</option>
        <option value="1">Near</option>
        <option value="10">Medium</option>
        <option value="20">Far</option>
    </select>


    <select name="Education" required>
        <option value="">Education Level</option>
        <option value="1">Below College</option>
        <option value="2">College</option>
        <option value="3">Bachelor</option>
        <option value="4">Master</option>
        <option value="5">Doctor</option>
    </select>


    <select name="EnvironmentSatisfaction" required>
        <option value="">Environment Satisfaction</option>
        <option value="1">Low</option>
        <option value="2">Medium</option>
        <option value="3">High</option>
        <option value="4">Very High</option>
    </select>


    <input type="number" name="HourlyRate" placeholder="Hourly Rate" required>


    <select name="JobInvolvement" required>
        <option value="">Job Involvement</option>
        <option value="1">Low</option>
        <option value="2">Medium</option>
        <option value="3">High</option>
        <option value="4">Very High</option>
    </select>


    <select name="JobLevel" required>
        <option value="">Job Level</option>
        <option value="1">Level 1</option>
        <option value="2">Level 2</option>
        <option value="3">Level 3</option>
        <option value="4">Level 4</option>
        <option value="5">Level 5</option>
    </select>


    <select name="JobSatisfaction" required>
        <option value="">Job Satisfaction</option>
        <option value="1">Low</option>
        <option value="2">Medium</option>
        <option value="3">High</option>
        <option value="4">Very High</option>
    </select>


    <input type="number" name="MonthlyIncome" placeholder="Monthly Income" required>


    <button type="submit" class="btn">
        Predict Employee Attrition
    </button>

</form>

</div>

</body>
</html>